.navigation_bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.navigation_bar__link {
    margin-right: 1rem;
}

.post_metadata__tags {
    display: inline-flex;
}

.post_metadata__tags__tag {
    margin-right: 0.5rem;
}