html {
    --background-color: #1c1e26;
    --border-radius: 2px;
    --highlight-alt-color: #51aaac;
    --highlight-color: #65d7d9;
    --emphasis-color: #dc7279;
    --font-size: 16px;
    --text-alt-color: #b7b7b7;
    --text-alt-color-2: #a8a8a8;
    --text-alt-color-3: #9b9b9b;
    --text-color: #e5e5e5;

    background-color: var(--background-color);
    box-sizing: border-box;
    color: var(--text-color);
    font-size: var(--font-size);
    font-family: Consolas, Menlo, "Ubuntu Mono", monospace;
    line-height: 1.6;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--highlight-color);
    padding: 1px;
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
    background-color: var(--highlight-alt-color);
    border-radius: var(--border-radius);
}

a:active {
    color: var(--highlight-color)
}

code {
    color: var(--text-alt-color-3);
    font-weight: bold;
}

hr {
    color: var(--text-alt-color);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}


h2 {
    color: var(--text-alt-color)
}

h3 {
    color: var(--text-alt-color-2)
}

h4 {
    color: var(--text-alt-color-3)
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

p, li {
    line-height: 1.4;
}

pre {
    border-radius: var(--border-radius);
    padding: 1rem;
}

.page-title {
    margin-top: 0;
}

.page-title-date {
    color: var(--text-alt-color);
    font-size: var(--font-size);
    font-weight: normal;
}