html {
    --background-color: #1c1e26;
    --highlight-alt-color: #51aaac;
    --highlight-color: #6BE4E6;
    --font-size: 16px;
    --text-alt-color: #b7b7b7;
    --text-color: #e5e5e5;

    color: var(--text-color);
    font-size: var(--font-size);
    font-family: Consolas, Menlo, "Ubuntu Mono", monospace;
    background-color: var(--background-color);
}

a {
    color: var(--highlight-color);
    padding: 1px;
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
    background-color: var(--highlight-alt-color);
    border-radius: 2px;
}

a:active {
    color: var(--highlight-color)
}

hr {
    color: var(--text-alt-color);
}

h1 {
    color: var(--text-alt-color)
}

h2 {
    color: #9e9d9d
}

h3 {
    color: #8e8e8e
}

h4 {
    color: #828282
}

h5 {
    color: #787878
}

h6 {
    color: #696969;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

p, li {
    line-height: 1.4;
}

pre {
    border-radius: 4px;
    padding: 1rem;
}

.page_title {
    color: var(--text-color);
}

.summary {
    color: var(--text-alt-color);
}
