/* trim margins on small screens */
@media screen and (max-width: 480px) {
    #page-body {
        --toplevel-margin: 1rem;
    }
}

@media screen and (min-width: 480px) {
    #page-body {
        --toplevel-margin: 2rem
    }
}

#page-body {
    display: flex;
    flex-direction: column;
    margin: var(--toplevel-margin);
    /* forces content to fill entire page vertically.
     * Since we're adding margin around this on both the top and the bottom of this
     * container, substract it so that the added margin doesn't create a scrollbar 
    */
    min-height: calc(100vh - 2*var(--toplevel-margin));
}

#page-header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#page-header nav a {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#page-main {
    display: flex;
    flex: 1; /* expand to fill body */
    justify-content: center;
}

#page-content {
    width: 88ch;
}

#page-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 1rem;
}