@import "normalize.css";

html {
    --background-color: #1c1e26 ;
    --text-color: #e5e5e5;
    --background-text-color: #b7b7b7; 
    --toplevel-margin: 2rem;
    --button-color: #6BE4E6;
    --button-highlight-color: #51aaac;
    --font-size: 15px;
    --border-radius: 2px;

    font-size: var(--font-size);
    font-family: Consolas, Menlo, "Ubuntu Mono", monospace;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    color: var(--button-color);
    text-decoration: none;
    padding: 2px;
}

a:hover {
    color: var(--text-color);
    background-color: var(--button-highlight-color);
    border-radius: var(--border-radius);
}

a:active {
    color: var(--button-color)
}

hr {
    color: var(--background-text-color);
}

h1 {
    color: #b7b7b7
}

body {
    /* forces content to fill entire page vertically.
     * Since we're adding margin around this on both the top and the bottom of this
     * container, substract it so that the added margin doesn't create a scrollbar 
    */
    min-height: calc(100vh - 2*var(--toplevel-margin));
    display: flex;
    flex-direction: column;
    margin: var(--toplevel-margin);
}

header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

header nav a {
    margin-right: 1rem;
}

.page_title {
    color: var(--text-color);
}

main {
    flex: 1; /* expand to fill body */
    display: flex;
    justify-content: center;
}

main .content {
    width: 88ch;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main :is(h1, h2, h3, h4, h5, h6) {
    line-height: 1.2;
}

main :is(p, li) {
    line-height: 1.4;
}
