<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ $css := "css/styles.css" | relURL }}
    <link rel="stylesheet" href="{{ $css }}">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
  </head>
  <body>
    <header>
      <nav>
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name | safeHTML }}</a>
        {{ end }}
      </nav>
    </header>
    <main>
      <div class="content">
      {{ block "main" . }}{{ end }}
      </div>
    </main>
    <footer>
      {{ with .Site.GetPage "about-this-site.md" }}
      <a href="{{ .Permalink }}">🌐 about this site</a>
      {{ end }}
      <span>📧 contact[at]anderspoirel.net</span>
    </footer>
  </body>
</html>