<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{{ $css := "css/bootstrap.min.css" | relURL }}
    {{ $css := "css/styles.css" | relURL }}
    <link rel="stylesheet" href="{{ $css }}">
    <title>{{ .Title }}</title>
  </head>
  <body>
    <div class="container">
      <main id="main">
        <div>
          <h1>{{ .Title }}</h1>
          <p>{{ .Site.Params.homeText | markdownify }}</p>
        </div>
      </main>
    </div>
  </body>
</html>